* {
  box-sizing: border-box;
}

.Board {
  // sections are the 4 main parts - backlog, todo, inprogress, completed
  text-align: center;
  height: 100vh;
  padding: 0;
  border: none;
  overflow-x: auto;
  vertical-align: top;
  white-space: nowrap;

  section {
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
    width: 25%;
    min-width: 189px;
    height: 100%;
    display: inline-block;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  button {
    outline: none;
    border-radius: 4px;
    font-size: 1.1em;
    margin: 4px;
  }

  button:hover {
    background-color: gainsboro;
  }
}

.BoardCategories {
  transition: height 0.4s ease-in-out;
  h2 {
    position: sticky;
    top: 0px;
    z-index: 10;
  }
}

.Backlog {
  h2 {
    background-color: red;
  }
  background-color: red;
}

.ToDo {
  h2 {
    background-color: yellow;
  }
  background-color: yellow;
}

.InProgress {
  h2 {
    background-color: yellowgreen;
  }
  background-color: yellowgreen;
}

.Completed {
  h2 {
    background-color: green;
  }
  background-color: green;
}
